<div class="list row">
  <div class="col-md-6">
    <h4>Lista de Empleados</h4>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let employee of employees; let i = index" [class.active]="i == currentIndex"
        (click)="setActiveEmployee(employee, i)">
        {{ employee.first_name }}
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentEmployee">
      <h4>Empleado</h4>
      <div>
        <label><strong>Nombre:</strong></label> {{ currentEmployee.first_name }}
      </div>
      <div>
        <label><strong>Apellido:</strong></label>
        {{ currentEmployee.last_name }}
      </div>
      <div>
        <label><strong>Id del Jefe:</strong></label>
        {{ currentEmployee.id_boss }}
      </div>
      <!-- <a class="badge badge-warning" href="/employee/{{ currentEmployee.id_employee }}"> -->
      <a class="badge badge-danger" (click)="removeEmployees()">
        Eliminar
      </a>
    </div>

    <div *ngIf="!currentEmployee">
      <br />
      <p>Seleccione un empleado para ver mas información</p>
    </div>
  </div>
</div>